<section id="contact" class="contact section">

  <div class="container" data-aos="fade-up">

    <div class="section-title text-center">
      <h2>Contact</h2>
      <p>Let’s connect! Feel free to reach out anytime.</p>
    </div>

    <div class="row gy-4 justify-content-center">

      <div class="col-lg-4">

        <div class="info-item d-flex">
          <i class="bi bi-geo-alt flex-shrink-0"></i>
          <div>
            <h4>Location:</h4>
            <p>Lagos, Nigeria</p>
          </div>
        </div>

        <div class="info-item d-flex">
          <i class="bi bi-envelope flex-shrink-0"></i>
          <div>
            <h4>Email:</h4>
            <p>gad.enwe.dev@gmail.com</p>
          </div>
        </div>

        <div class="info-item d-flex">
          <i class="bi bi-phone flex-shrink-0"></i>
          <div>
            <h4>Phone:</h4>
            <p>+234 803 700 6161</p>
          </div>
        </div>

      </div>

      <div class="col-lg-6">
        <form class="php-email-form">
          <div class="row gy-4">
            <div class="col-md-6">
              <input type="text" name="name" class="form-control" placeholder="Your Name" required>
            </div>

            <div class="col-md-6">
              <input type="email" class="form-control" name="email" placeholder="Your Email" required>
            </div>

            <div class="col-md-12">
              <textarea class="form-control" name="message" rows="5" placeholder="Message" required></textarea>
            </div>

            <div class="col-md-12 text-center">
              <button type="submit">Send Message</button>
            </div>

          </div>
        </form>
      </div>

    </div>

  </div>

</section>