<section id="portfolio" class="portfolio section">

  <div class="container" data-aos="fade-up">

    <div class="section-title text-center">
      <h2>Portfolio</h2>
      <p>Some of the projects I’ve worked on recently.</p>
    </div>

    <div class="row portfolio-container" data-aos="fade-up" data-aos-delay="200">

      <div class="col-lg-4 col-md-6 portfolio-item">
        <img src="/assets/img/portfolio/app-1.jpg" class="img-fluid" alt="">
        <div class="portfolio-info">
          <h4>App Project</h4>
          <p>Mobile App</p>
          <a href="/assets/img/portfolio/app-1.jpg" data-gallery="portfolioGallery"
            class="portfolio-lightbox preview-link" title="App Project">
            <i class="bi bi-zoom-in"></i>
          </a>
        </div>
      </div>

      <div class="col-lg-4 col-md-6 portfolio-item">
        <img src="/assets/img/portfolio/books-1.jpg" class="img-fluid" alt="">
        <div class="portfolio-info">
          <h4>Books Project</h4>
          <p>Library UI</p>
          <a href="/assets/img/portfolio/books-1.jpg" data-gallery="portfolioGallery"
            class="portfolio-lightbox preview-link" title="Books Project">
            <i class="bi bi-zoom-in"></i>
          </a>
        </div>
      </div>

      <div class="col-lg-4 col-md-6 portfolio-item">
        <img src="/assets/img/portfolio/website-1.jpg" class="img-fluid" alt="">
        <div class="portfolio-info">
          <h4>Website Project</h4>
          <p>Responsive Designs</p>
          <a href="/assets/img/portfolio/website-1.jpg" data-gallery="portfolioGallery"
            class="portfolio-lightbox preview-link" title="Website Project">
            <i class="bi bi-zoom-in"></i>
          </a>
        </div>
      </div>

    </div>


  </div>

</section>